@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    /*==== cores bases ====*/
    --dark-blue: #011627;
    --off-whith: #fdfffc;
    --green: #2ec4b5;
    --blue: #1e96fc;
    --red: #e71d36;

    --green-soft: rgba(46, 196, 181, 0.1);
    --blue-soft: rgba(30, 148, 252, 0.1);

    /*==== fonts ====*/
    font-family: 'Roboto', sans-serif;

    /*==== jump of the cat ====*/
    font-size: 62.5%; /* tamanho padrão do navegador vira 10px*/
}